.tabsRow {
  display: flex;
  flex-direction: row;
  margin: 0 0 1.5rem 0;

  .tab {
    color: #4a4a4a;
    text-transform: uppercase;
    font-size: 12px;
    background: #ffffff;
    border: 1px solid #dfe5ec;
    cursor: pointer;
    height: 4rem;
    width: 13rem;

    &:hover {
      background: #f1fcff;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &.active {
      background: #2196f3;
      color: #ffffff;
    }
  }
}
