.card {
  background: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 1.7rem;

  .priceAndLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 24px;
    color: #2196f3;
  }

  .from {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .transfer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.5px;

    .grayLine {
      color: #a0b0b9;
    }
  }
}
